@charset "UTF-8";
/**
 * 
 * @authors 追梦
 * @date    2017-06-24 20:57:51
 * @version $1.0$
 */

/*头部区域*/
.top{width:100%; border-bottom: 1px #000 solid;min-width: 1000px;}
.top .top-img{width:100%;height:200px;overflow: hidden;}
.top .top-img .top-w{position: relative;width: 1000px;height: 200px; margin: 0px auto;}
.top .top-img .top-w .t-logo-ad{position: absolute;}
.top .top-img .top-w .t-logo-ad img{position: absolute;left: -460px;top: 0;min-width:1920px;width: 100%;}
.top .top-img .top-w .t-logo{display: block;position: absolute;width:709px;height:165px;top: 50%;margin-top: -83px;}
.top .user{width: 1000px; margin: 0 auto;}
.top .user>ul>li>a:before{display: inline-block;width: 16px;height: 14px; background: url("../images/top/3.png"); content: "";vertical-align: middle;}
.top .user a:hover{color: #f00;}
.top .user ul{float: left;font-size: 12px;height: 41px;}
.top .user ul li{float: left;line-height: 41px;}
.top .user ul .tu-order a{ margin-right: 10px;}
.top .user ul .tu-order a:hover:before{background-position: 0 -31px;}
.top .user .tu-user{margin-left: 228px; }
.top .user .tu-user a{margin: 0 5px;}
.top .user .tu-user .tuu-line{display: inline-block;width:4px;height: 18px; margin-top: 12px; background: url("../images/top/3.png") no-repeat 0 -694px;vertical-align: top;}
.top .user .tu-user a:before{width: 27px; height: 25px;}
.top .user .tu-user .register:before{background-position: 0 -63px;}
.top .user .tu-user .register:hover:before{background-position: 0 -106px;}
.top .user .tu-user .login:before{background-position: 0 -236px;}
.top .user .tu-user .login:hover:before{background-position: 0 -279px;}
.top .user .tu-follow{position: relative; z-index: 11;}
.top .user .tu-follow>a:before{width: 168px;height: 41px;background:url("../images/top/4.jpg") no-repeat;vertical-align: top;margin-left: 15px;border-right: 1px solid #000;}
.top .user .tu-follow:hover>a:before{background:url("../images/top/4-hover.jpg") no-repeat;}
.top .user .tu-follow .tuf-info{position: absolute;width: 168px; height: 37px; top: 0%;left: 0;background: url("../images/top/red-icon.jpg") no-repeat;margin-left: 15px;border-top: transparent 1px solid; z-index: -1; transition: top .3s ease;}
.top .user .tu-follow:hover .tuf-info{top: 100%;}
.top .user .tu-follow:hover .tuf-info .tufi-wx>.tufiw-qrcode{display: block;}
.top .user .tu-follow .tuf-info li{float: left;width: 56px;height: 37px;}
.top .user .tu-follow .tuf-info li>a{display: block; width: 100%; height: 100%;}
.top .user .tu-follow .tuf-info .tufi-wx>.tufiw-qrcode{width: 0; height: 0; overflow: hidden; top: 100%;left: 0;position: absolute;opacity:0;}
.top .user .tu-follow .tuf-info .tufi-wx:hover>.tufiw-qrcode{width: 144px; height: 144px; opacity:1;}
.top .user .tu-follow .tuf-info .tufi-wx:hover>.tufiw-qrcode>a{left: 0;}
.top .user .tu-follow .tuf-info .tufi-wx>.tufiw-qrcode>a{position: absolute; left: 28px; top: 0; display: block; width: 144px;height: 144px; background: url("../images/top/6.png") no-repeat; transition: left .3s ease;}
.top .user .tu-follow .tuf-info .tufi-wx>.tufiw-qrcode>em{display: inline-block;width: 0;height: 0;position: absolute;top: 0;left: 25px;border-top: 5px #f00 solid;border-left: transparent 5px solid;border-right: transparent 5px solid;z-index: 10;}
.top .user .tu-search{display: block; float: right;line-height: 41px;}
.top .user .tu-search:before{display: inline-block;background: url("../images/top/3.png"); content: "";vertical-align: middle;background-position: 0 -322px; width:27px; height:27px;}
.top .user .tu-search:hover:before{background-position: 0 -369px;}

/*内容区域*/
.con{width: 1000px; margin: 0 auto;}
/*通用部分*/
.con .com-img-style20{float: left;margin-top: 30px;}
.con .com-img-style20>a{overflow: hidden;}
.con .com-img-style20>.cis-desc{text-align: center; font-size: 20px; margin-top: 20px; padding-bottom: 20px; border-bottom: 1px #000 dotted;line-height: 20px;}
.con .com-img-style20>a{position: relative; display: inline-block;}
.con .com-img-style20 .cis-play{display: inline-block; position: absolute; top: 50%; left: 50%; width: 66px; height: 66px;margin-left: -33px; margin-top: -33px;background: url("../images/common/icons-sprite.png") no-repeat 0 -368px;}
.con .com-img-style20>a:hover .cis-play{background-position: 0 -437px}
.con .com-title{position: relative; border-bottom: 1px #000 solid;text-align: center;margin-top: 50px;}
.con .com-title>.ct-name{display: inline-block; border-bottom: 4px solid #000;padding:0 30px 15px 30px;}
.con .com-title>.ct-more{position: absolute; right: 0; bottom: 0; display: block; width: 40px;height: 20px;background:url("../images/common/icons-sprite.png") no-repeat 0 -506px;}
.con .com-title>.ct-more:hover{background-position: 0 -529px;}
.con .com-nav{width: 100%; margin:10px 0 0px 0; text-align: center;}
.con .com-nav>li{float:none;display: inline;margin-right: 7px;}
.con .com-nav>li:first-of-type{color: red;}
.con .com-nav>li:last-of-type{color: red;}
.con .mr20{margin-right: 20px;}
.con .mr50{margin-right: 50px;}
.con .mr100{margin-right: 100px;}
.con a:hover{text-decoration: underline;}

/*导航区*/
.con .nav{border-bottom: 5px #000 solid; position: relative;}
.con>.nav>li{float: left;font-size: 16px;}
.con>.nav>li>a{padding: 0 9px 0 8px;line-height: 38px;display: inline-block; text-decoration: none;}
.con>.nav>li.home-page{color: #fff;background-color: #f00;}
.con>.nav>li.home-page>a{padding: 0 10px 0 11px;}
.con>.nav>li:hover>a{color: #fff;background-color: #f00;}
.con>.nav>li .n-con{position: absolute; top:100%; left: 0; width: 998px; height: 335px;border: 1px solid #000;border-top: 5px solid #000;background-color: #fff;display: none;}
.con>.nav>li:hover:hover .n-con{display: block;z-index: 11;}
.con>.nav>li .n-con .nc-leftsidebar{float: left; width: 209px; height: 100%;border-right:1px solid #cdcdcd;line-height: 30px;font-size: 14px;}
.con>.nav>li>.n-con>.nc-leftsidebar>ul{margin: 25px 15px;}
.con>.nav>li>.n-con>.nc-news{float: left; width: 788px; height: 250px;}
.con>.nav>li>.n-con>.nc-news>ul{padding: 10px 19px;}
.con>.nav>li>.n-con>.nc-news>ul>li{float:left; margin: 20px 20px 0px 20px; width: 210px;}
.con>.nav>li>.n-con>.nc-news>ul>li>a{display: block;height: 200px;text-align: center;font-weight: 600;}
.con>.nav>li>.n-con>.nc-news>ul>li>a>p{margin: 10px 10px;}
.con>.nav>li .n-con .nc-summary{float: left; width: 788px; height: 84px; border-top: 1px solid #cdcdcd;}
.con>.nav>li>.n-con>.nc-summary>ul{margin: 12px 0;}
.con>.nav>li>.n-con>.nc-summary>ul>li{width: 394px;line-height: 30px;font-size: 14px;float: left;}
.con>.nav>li>.n-con>.nc-summary>ul>li>a{margin-left: 38px;}
.con>.nav>li>.n-con>.nc-summary>ul>li>a:before{content: '';display: inline-block; width: 12px; height: 6px; background: url("../images/con/nav/dott.jpg") no-repeat;vertical-align: middle;}

/*banner区域*/
.con>.banner{width: 1000px;height: 510px; padding-top: 30px;}
.con>.banner>.b-con{float: left; width:680px; height:100%; margin-right: 20px;}
.con>.banner>.b-con>.bc-imgs{position: relative; width: 100%; height: 440px; overflow: hidden; }
.con>.banner>.b-con>.bc-imgs>ul{width: 400%;}
.con>.banner>.b-con>.bc-imgs>ul>li{float: left;}
.con>.banner>.b-con>.bc-imgs>.arrow{position: absolute; top: 50%;margin-top: -21px;  width: 23px; height:43px; background: url("../images/common/icons-sprite.png") no-repeat 0 -120px;}
.con>.banner>.b-con>.bc-imgs>.bci-left{left: 10px;}
.con>.banner>.b-con>.bc-imgs>.bci-left:hover{background-position: 0 -166px;}
.con>.banner>.b-con>.bc-imgs>.bci-right{right: 10px; background-position: 0 -212px;}
.con>.banner>.b-con>.bc-imgs>.bci-right:hover{background-position: 0 -258px;}
.con>.banner>.b-con>.bc-summary{width: 100%; height: 60px; padding-top:10px;}
.con>.banner>.b-con>.bc-summary>ul>li{float: left; width: 226px; line-height: 30px;}
.con>.banner>.b-con>.bc-summary>ul>li>a:before{content: '';display: inline-block; width: 8px; height: 6px; background: url("../images/con/nav/dott.jpg") no-repeat;vertical-align: middle;}
.con>.banner>.b-ad{float: left; width: 300px; height: 510px; }

/*daily 每日分享*/
.con>.daily{width: 1000px; height: 750px; margin-top: 50px;}
.con>.daily>.d-left{float: left; width: 670px; height: 750px;}
.con>.daily .dl-title{border-bottom: 1px #000 solid;margin-bottom: 20px;}
.con>.daily .dl-title span{display: inline-block;}
.con>.daily .dl-title .dlt-date{float: left; position: relative; width:183px; height: 55px; background: url("../images/con/daily/2016time.jpg") no-repeat;}
.con>.daily .dl-title .dlt-date .year{position: absolute;top: 9px;left: 14px; width:40px; height: 40px;background: url("../images/con/daily/year.png") no-repeat  -81px 0px;}
.con>.daily .dl-title .dlt-date .month{position: absolute;top: 9px;left: 57px; width:54px; height: 40px;background: url("../images/con/daily/number.png") no-repeat  0px -1154px;}
.con>.daily .dl-title .dlt-date .day{position: absolute;top: 9px;left: 126px; width:54px; height: 40px;background: url("../images/con/daily/number.png") no-repeat 0px -810px;}
.con>.daily>.d-left>.dl-title>.dlt-tit{float: left; width: 487px; height: 36px; padding-bottom: 10px; margin-top: 9px; border-bottom:3px solid #000;}
.con>.daily>.d-left>.dl-title>.dlt-tit>span{width:300px;height: 36px; margin-left: 15px; background: url("../images/con/daily/dailyelle.png") no-repeat;}
.con>.daily>.d-left>.dl-con>li.mr28{margin-right: 28px;}
.con>.daily>.d-left>.dl-con>li.mt28{margin-top: 28px;}
.con>.daily>.d-left>.dl-con>li>.dlc-img{position: relative; display: inline-block;overflow: hidden;}
.con>.daily>.d-left>.dl-con>li>.dlc-img>.cis-play{display: inline-block; position: absolute; top: 50%; left: 50%; width: 66px; height: 66px;margin-left: -33px; margin-top: -33px;background: url("../images/common/icons-sprite.png") no-repeat 0 -368px;}
.con>.daily>.d-left>.dl-con>li>.dlc-img:hover .cis-play{background-position: 0 -437px}
.con>.daily>.d-left>.dl-con>li{float: left; width: 301px; height: 301px;padding: 10px; background: url("../images/con/daily/d-bg.jpg"); text-align: center;}
.con>.daily>.d-left>.dl-con>li>.dlc-title{display: block;margin: 20px 10px 0 10px; padding-bottom: 20px; text-align: center; font-size: 18px; border-bottom: 1px dotted #000;}
.con>.daily>.d-left>.dl-con>li>.dlc-time{display: inline-block; margin-top: 5px;line-height: 23px;}
.con>.daily>.d-left>.dl-con>li>.dlc-time:before{display: inline-block;width: 34px; height: 23px; content:"";vertical-align: bottom; background: url("../images/con/daily/time.png") no-repeat;}
.con>.daily>.d-right{float: right;width: 300px; height: 750px;}
.con>.daily>.d-right>.dr-top>.drt-logo{float:left; width: 50px; height: 59px;background: url("../images/con/daily/hot.jpg") no-repeat;}
.con>.daily>.d-right>.dr-top>.drt-title{float:left; width: 250px; height: 52px;background: url("../images/con/daily/todayshot.png") no-repeat;border-bottom: 4px solid #000; margin-top: 3px;}
.con>.daily>.d-right>.dr-con>li{padding: 23px 0; border-bottom: 1px dotted #000;}
.con>.daily>.d-right>.dr-con>li>.drc-no{float: left; display: inline-block; width: 19px; height: 25px; margin-top: 10px;}
.con>.daily>.d-right>.dr-con>li>.drc-no1{background: url("../images/con/daily/no1.jpg") no-repeat;}
.con>.daily>.d-right>.dr-con>li>.drc-no2{background: url("../images/con/daily/no2.jpg") no-repeat;}
.con>.daily>.d-right>.dr-con>li>.drc-no3{background: url("../images/con/daily/no3.jpg") no-repeat;}
.con>.daily>.d-right>.dr-con>li>.drc-no4{background: url("../images/con/daily/no4.jpg") no-repeat;}
.con>.daily>.d-right>.dr-con>li>.drc-no5{background: url("../images/con/daily/no5.jpg") no-repeat;}
.con>.daily>.d-right>.dr-con>li>.drc-img{float: left; margin-left: 15px; width: 90px; height: 90px; overflow: hidden;}
.con>.daily>.d-right>.dr-con>li>.drc-desc{float: left; width: 166px; margin-left: 10px;}

/*fashion时装*/
.con>.fashion{width: 1000px; }
.con>.fashion>.f-bottom{margin-top: 30px; border: 10px solid #e4e4d4; }
.con>.fashion>.f-bottom>li{float: left;border: 5px solid #e4e4d4;}
.con>.fashion>.f-bottom>li>.fb-con{float: left; width: 240px; height: 240px;}
.con>.fashion>.f-bottom>li>.fb-con>a{ width: 240px; height: 240px;display:table-cell;vertical-align: middle;}
.con>.fashion>.f-bottom>li>.fb-con .fbc-tit{text-align: center;margin: 0 35px; border-bottom: 1px #000 dotted;padding-bottom: 5px;}
.con>.fashion>.f-bottom>li>.fb-con .fbc-desc{font-size: 24px; text-align: center; line-height: 32px;margin: 11px 10px 0 10px;}
.con>.fashion>.f-bottom>li>a{float: left;}

/*feature 专题*/
.con .feature .com-img-style20>.cis-desc{font-size: 16px;}
/*Editors'pick*/
.con .editors{margin-bottom: 50px;}
.con .editors .com-img-style20>.cis-desc{font-size: 16px;}


/*底部区域*/
.footer>.f-top{background-color: #f7f7f7;padding-bottom: 30px;}
.footer>.f-top>.ft-w{width: 1000px; height: 455px; margin: 0 auto;}
.footer>.f-top>.ft-w>ul>li{float: left;}
.footer>.f-top>.ft-w>ul>.ft-left{width: 332px; height: 455px; text-align: center;}
.footer>.f-top>.ft-w>ul>.ft-left>.subscribe{display: inline-block; width:285px; height:29px; background:url("../images/footer/dingyue.jpg") no-repeat;}
.footer>.f-top>.ft-w>ul>.ft-left>.subscribe:hover{background:url("../images/footer/dingyue_hover.jpg") no-repeat;}
.footer>.f-top>.ft-w>ul>.ft-mid{width: 334px; margin-top: 20px; border-right: 1px dotted #000;border-left: 1px dotted #000;}
.footer>.f-top>.ft-w>ul>.ft-mid>a>img{margin-top: -20px;}
.footer>.f-top>.ft-w>ul>.ft-right{ width: 332px; height: 455px;}

.footer>.f-bottom{background-color: #1f1b1c;  color: #dbdbdb;min-width: 1000px;}
.footer>.f-bottom>.f-bottom-w{position: relative; width: 1000px; padding: 20px 0 100px 0; margin: 0 auto;}
.footer>.f-bottom>.f-bottom-w>.back-top{position: absolute; top: 0;right: 0; display: block; width: 59px; height: 58px;background: url("../images/common/icons-sprite.png") no-repeat; margin-top: -29px;}
.footer>.f-bottom>.f-bottom-w>.back-top:hover{background-position: 0px -60px;}
.footer>.f-bottom .fb-top{border-bottom: 1px #3c3c3c solid; padding-bottom: 15px;}
.footer>.f-bottom .fb-top>.fbt-left{float: left; width: 165px;margin-top: 5px;}
.footer>.f-bottom .fb-top>.fbt-left>.bottom-log{display: inline-block;width:160px; height: 58px; background: url("../images/footer/footerlogo.png") no-repeat; }
.footer>.f-bottom .fb-top>.fbt-left>.fbt-share{margin-top: 25px;}
.footer>.f-bottom .fb-top>.fbt-left>.fbt-share>li{float: left; }
.footer>.f-bottom .fb-top>.fbt-left>.fbt-share>li>a{display: inline-block; width: 41px; height:22px;background: url("../images/footer/shareicon.png") no-repeat;}
.footer>.f-bottom .fb-top>.fbt-left>.fbt-share>li>a:hover{background-image:url("../images/footer/shareicon_hover.png");}
.footer>.f-bottom .fb-top>.fbt-left>.fbt-share>.weixin>a{position: relative; background-position: 8px 0px;}
.footer>.f-bottom .fb-top>.fbt-left>.fbt-share>.weixin>a>i{position: absolute;left: 30%;bottom: 120%; width: 144px;height: 144px; background: url("../images/footer/weixin-qrcod.png") no-repeat; transition:all .5s linear; visibility: hidden; opacity: 0;}
.footer>.f-bottom .fb-top>.fbt-left>.fbt-share>.weixin>a:hover>i{visibility: visible; opacity: 1;}
.footer>.f-bottom .fb-top>.fbt-left>.fbt-share>.xinlang>a{background-position: -28px 0px;}
.footer>.f-bottom .fb-top>.fbt-left>.fbt-share>.kongjian>a{background-position: -67px 0px;}
.footer>.f-bottom .fb-top>.fbt-left>.fbt-share>.qq-wb>a{background-position: -109px 0px;}
.footer>.f-bottom .fb-top>.fbt-right{float: left; margin-left: 25px; line-height: 30px;}
.footer>.f-bottom .fb-top>.fbt-right a{margin-right: 20px;}
.footer>.f-bottom .fb-mid{text-align: center; padding: 20px 0; border-bottom: 5px solid #3c3c3c;}
.footer>.f-bottom .fb-bottom ul{margin: 30px auto; width: 885px}
.footer>.f-bottom .fb-bottom ul li{float: left; padding: 0px 13px; border-right: 1px solid #dbdbdb;}
.footer>.f-bottom .fb-bottom ul li:last-of-type{border-right-color: transparent;}
.footer>.f-bottom .fb-bottom>.fbb-bottom{font-size: 12px; margin-left: 50px;}
.footer>.f-bottom .fb-bottom>.fbb-bottom span{margin-right: 20px;}



